---

---

<footer>
  <section>
    <h2>Why ProModoro?</h2>
    <p>
      Usually a Pomodoro timer can be a very good ally to our productivity, but
      if you have use it sometime I'm sure you have noticed that is not a
      perfect system. Sometimes you are in a middle of a productive rage, and
      although the timer ends, you need to finish that one particular important
      thing you are doing or you will <b>lose the point</b> as soon as you take that
      break.
    </p>
    <p>
      Is for this reason that instead of just a simple timer that has a fixed
      amount of minutes, Promodoro offers something a little more flexible.
    </p>
    <p>Usage of the app:</p>
    <ol>
      <li>
        The first thing you do is to set up a timer budget for productivity and
        another one for the breaks. The default ratio is 5h of productivity time
        with 30 mins for break time.
      </li>
      <li>
        Now that we have both budgets, it is time to introduce them to the app.
      </li>
      <li>
        The app has just 2 buttons. One to change the mode whenever you want /
        need, and another one in case we must STOP or finish the session for any
        reason.
      </li>
      <li>
        So the system is as easier as it gets. All you have to do it’s just
        press the timer when you start a pause, and press it again as soon as
        you get into work again. You are able to see the time that you have to
        your disposal on every budget all the time.
      </li>
    </ol>
  </section>
</footer>

<style>
  footer {
    color: var(--font-secondary);
    padding-bottom: 3rem;
    background-color: var(--secondary-background);
  }

  h2 {
    font-weight: 1000;
    line-height: 1;
    text-align: center;
    word-spacing: 0.5rem;
    padding: 1rem 0;
  }
</style>
