---
import Timer from "./Timer/Timer.astro";
---

<div>
  <h2>A "Professionale" timer to BOOST 🚀 your productivity</h2>
  <div class="timers">
    <Timer />
    <Timer />
  </div>
</div>

<style>
  .timers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto 8rem;
  }
</style>
