---
interface Props {
  title: string;
}

const { title } = Astro.props;

import Header from "../components/structure/Header.astro";
import Footer from "../components/structure/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>

    <div class="custom-divider">
      <svg viewBox="200 0 1600 120" preserveAspectRatio="none">
        <path
          d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
          class="shape-fill"></path>
      </svg>
    </div>

    <Footer />
  </body>

  <style is:global>
    @font-face {
      font-family: Italianno;
      src: url("/public/fonts/Italianno-Regular.ttf");
    }

    @font-face {
      font-family: BigShoulders;
      src: url("/public/fonts/BigShoulders.ttf");
    }
    :root {
      --font-main: #313638;
      --font-secondary: #fffff0;
      --main-background: var(--font-secondary);
      --title-background: #b80000;
      --secondary-background: #5f8670;
      --dark-background: var(--font-main);
      --ice-background: #e1e7e4;
      --button-elevation: var(--secondary-background);
      --button-backgound: #9bdbb7;
    }

    html {
      font-family: "Italianno", Georgia, "Times New Roman", Times, serif;
      background: var(--main-background);
      color: var(--font-main);
      font-weight: 100;
    }

    body {
      margin: 0;
      font-size: 2.6rem;
    }

    section {
      margin: auto 8rem;
    }

    h1 {
      font-size: 4rem;
      font-weight: 900;
      text-align: left;
      margin: 0;
      padding-top: 1rem;
    }

    h2 {
      margin: 0;
      font-size: 3rem;
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 1;
      text-align: center;
      word-spacing: 0.6rem;
      padding: 1rem 0;
    }

    .custom-divider {
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
    }

    .custom-divider svg {
      display: block;
      width: calc(300% + 1.3px);
      height: 20rem;
      filter: drop-shadow(20px 5px 5px rgb(0 0 0 / 0.4));
    }

    .custom-divider .shape-fill {
      fill: var(--secondary-background);
    }
  </style>
</html>
